.cards {
    width: 290px;
    height: 385px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    padding-top: 15px;
    box-shadow: 5px 5px 15px gray;
}
.card-txt img{
    width: 250px;
    height: 250px;
    padding: 15px;
    background-color: #ddd;
    border-radius: 8px;
}
.card-bottom{
    margin-top: -15px;
}
.card-price{
    margin-top: 25px;
    margin-right: 20%;
}
.card-button{
    margin-top: 20px;
}
.cards h5, p{
    padding-left: 17px;
    margin-bottom: -5px;
    line-height: 30px;
}