.order-info{
    margin: 25px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}
.order-image img{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 3px 3px 12px gray;
}
.order-txt {
    margin-top: 30px;
    padding-left: 40px;
}
.order-txt h5{
    color: lightslategrey
}
.order-txt h6{
    color: gray
}
.order-delete{
    margin-top: 40px;
    font-size: 27px;
    color: red;
    cursor: pointer;
}